.explorer-container {
  width: 300px;
  background-color: var(--bar-color);
  height: 100%;
  padding: 0em 0.7em;
  box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.1);
  padding-bottom: 0;
  user-select: none;
}
.opened-file {
  height: 30%;
  width: 100%;
  background-color: var(--bg-color);
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 4%;
}
.opened-file-title {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: var(--font-size);
  height: 35px;
  background-color: var(--hover-color);
  margin: 0px 3px;
}
.opened-file-content {
  padding: 0.3em;
}
.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 1em;
  height: fit-content;
  background-color: var(--bar-color);
}
.folder-btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 3px;
  cursor: pointer;
}
.folder-btn:first-child {
  margin: 0px 1px;
}
.folder-btn:hover {
  background-color: var(--bar-color);
}
.opened-folder {
  height: 68.5%;
  width: 100%;
  background-color: var(--bg-color);
  overflow-y: auto;
  overflow-x: hidden;
}
.opened-folder-title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  font-size: var(--font-size);
  background-color: var(--hover-color);
}
.folder-name {
  display: flex;
  flex-grow: 1;
}
