html {
  --bg-color: #282a36;
  --bar-color: #1e2029;
  --hover-color: #393c4d;
  --font-color: #dadada;
  --font-size: 13.5px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  color: var(--font-color);
  background-color: transparent;
  outline: none;
}
button:hover {
  transition: 200ms;
  background-color: var(--hover-color);
}
div {
  color: var(--font-color);
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: nunito, sans-serif;
}
.container {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
}
