.title-bar {
  width: 100%;
  background-color: var(--bar-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
.title-bar-btn {
  width: 45px;
  height: 5vh;
}
.sub-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.control-bar {
  display: flex;
  align-items: center;
}
.control-btn:last-child:hover {
  background-color: #ff3535;
}
